@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Darker+Grotesque:wght@300&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&family=Russo+One&display=swap');

.Herosection__ {
    height: auto !important;
    background: #322C2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .image {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;;
        background: url(thankgod.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 124px;
        margin-bottom: 10px;
    }
    
}
       
.introduction__{
    height: auto !important;
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;;
    background: url(thankgod.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 124px;
    margin-bottom: 10px;
}

.contentIntro__ {
    padding: 2px;
    color: #E26C6C;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bolder;
}



.remark__ {
    padding: 2px;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 30px;
    color: white;
}

.developer__ {
    padding: 2px;
    margin-left: 30px;
    margin-top: 2px;
    font-size: 30px;
    color: white;
}
.btn__{
    margin-left: 30px;
    margin-top: 10px;
    padding: 2px;
    width: 150px;
    height: 40px;
    left: 68px;
    top: 620px;
    border: 1px solid #94CA6A;
    background: #94CA6A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}

.react {
    color: #FFD17D;
    font-family: 'Allan', cursive;
    letter-spacing: 0.2em;
}