* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .App {
    overflow-y: hidden;
    overflow-x: hidden;
 }
}

.App {
   overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}